<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Restaurant Catalogue">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000"/>    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Ziva Resto</title>
</head>
<body>
  <a href="#restos" tabindex="1" class="skip-link">Skip to content</a>
    <header class="app-bar">
        <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
        <h1>Ziva Resto</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
            <li><a href="#/resto-list" tabindex="2">Resto List</a></li>
            <li><a href="#/favorite" tabindex="3">Favorite</a></li>
            <li><a href="https://github.com/JenabB" tabindex="4" target="_blank" rel="noreferrer">About</a></li>
        </ul>
        </nav>
  </header>
  
  <main id="mainContent"></main>

  <footer>
    <p>Copyright © 2021 <a href="https://github.com/JenabB" target="_blank" rel="noreferrer">JenabB</a></p>
  </footer>

</body>
</html>